DB_HOST=
DB_PORT=3306
DB_NAME=
DB_USER=
DB_PASSWORD=

NEXT_PUBLIC_LINE_LIFF_ID=
NEXT_PUBLIC_REQUIRE_LINE=true
LINE_CHANNEL_ID=
LINE_CHANNEL_ACCESS_TOKEN=
APP_REQUIRE_LINE=true
APP_BASE_URL=https://gymnos234.com
ADMIN_ACCESS_KEY=
